.row1 {
    display: flex;
}
.col11{
    width: 40%;
}
.col12{
    width: 60%;
}
.row2 {
    display: flex;
}
.col21{ 
    width: 60%;
}
.col22{
    width: 40%;
}
.img {
    border: 4px solid #14420a;
}
.graph {
    border: 5px solid black;
}